canvas
{
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 10px; 
    padding-bottom: 10px;
}

span
{
    font-size: 100px;
    color: #2799aa;
}

#numbers
{
    position: absolute;
    width: 808px;
    height: 808px;
    top: 0;
    left: 0;
    padding-left: 439.5px;
    padding-top: 10px;
}

/* #number
{
    width: 189.5px;
    height: 189.5px;
} */